<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>We've created a card product for you...</h2>
    <p>Name: <%= session[:card_product][:name] %></p>
    <p>Funding: JIT Managed</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create a User</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
   
      <%= f.submit "Create User", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
