<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Congratulations, you've created a user ...</h2>
    <p>Name: <%= session[:user][:first_name] %></p>
    <p>Card Product: <%= session[:card_product][:name] %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Next step...create a Card</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@card) do |f| %>

      <%= f.submit "Create Card", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>