/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  font-family: 'Dosis', sans-serif;
  .transaction {
    display: block;
    
    padding: 0 2%;
    position: relative;
    margin: 0 auto;
    
  }
  .trans-wrapper {
    display: flex;
    align-items: center;
  }
  .transaction-img {
    display: inline-block;
    img {
      display: inline-block;
      padding: 2%;
    }
    width: 33%;
    text-align: center;
  }
  .main-trans {
      display: inline-block;
      border: 2px solid #FFF;
      padding: 2%;
      width: 33%;
    }


  #user {
    padding: 2%;
    display: inline-block;
    width: 35%;
    display: inline-block;
    .user-details {
      padding: 4%;
    }
    text-align: center;
  }
  .marqeta-main {
    background: linear-gradient(to bottom right, #151340, #6F1CCD);
    color: #FFF;
    max-height: 30%;
    .title {
      width: 55%;
      display: inline-block;
      p {
        padding-left: 1%;
      }
    }
    .side {
      width: 38%;
      display: inline-block;
    }
    #card {
      margin: 0 auto;
      margin-top: 4%;
      padding: 3% 3% 3% 5%;
      width: 85%;
      border: 2px solid white;
      border-radius: 20px;
      #title {
        font-size: 3em;
        padding-left: 4%;
        padding-top: 8%;
        vertical-align: middle;
      }
      #exp {
        margin-left: 50%;
      }
      #name {
        font-size: 2.5em;
      }
      #number {
        letter-spacing: 4px;
        word-spacing: .5em;
        font-size: 2.9em;
        width: 100%;
      }
      #CVV {
        padding-right: 7%;
        float: right;
        font-size: 1em;
      }
      
    }
    
  }

  .center {
    text-align: center;
  }


  .action-call {
    h1 {
      color: #791DDC;
      font-weight: 600;
    }
    p {
      font-size: 1.3em;
    }
    input[type="text"] {
      width: 40%;
      height: 2.4em;
      font-weight: 600;
      font-size: 1.3em;
      padding: 0 0 0 1%;
    }
    input[type="submit"] {
      background-color: #791DDC;
      color: #FFF;
      font-size: 1.5em;
      margin-bottom: 1%;
      margin-top: 2%;
    }
  }
}