/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  font-family: 'Dosis', sans-serif;
  
  .marqeta-main {
    background: linear-gradient(to bottom right, #151340, #6F1CCD);
    color: #FFF;
    .title {
      width: 60%;
      display: inline-block;
    }
    .side {
      width: 38%;
      display: inline-block;
    }
    #card {
      margin-top: 4%;
      padding: 5%;
      width: 80%;
      border: 2px solid white;
      border-radius: 20px;
      #title {
        font-size: 3em;
        padding-left: 4%;
        padding-top: 8%;
        text-align: center;
      }
      #number {
        font-size: 2em;
      }
      #CVV {
        margin-left: 40%;
      }
    }
  }

  .action-call {
    h1 {
      color: #791DDC;
    }
    p {
      font-size: 1.3em;
    }
  }
}