<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag('marqeta-logo') %><span>MARQETA</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SOLUTIONS</a>
          <ul class="dropdown-menu">
            <li><a href="#">DELIVERY</a></li>
            <li><a href="#">LEND</a></li>
            <li><a href="#">DISBURSE</a></li>
            <li><a href="#">EXPENSE</a></li>
            <li><a href="#">VIRTUAL</a></li>
          </ul>
        </li>
        <li><a href="#">FEATURES</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API DOCS</a>
          <ul class="dropdown-menu">
            <li><a href="#">REFERENCE DOCS</a></li>
            <li><a href="#">GUIDES</a></li>
            <li><a href="#">API EXPLORER</a></li>
          </ul>
        </li>
        <li><a href="#">ABOUT</a></li>
        <li><a id="signin" href="#">SIGN IN</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>